table,th,td{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(64, 66, 65); 
    color: white;
    width: 1500px;
    height: 100px;
    text-align: center;
}
.div1 form {
    position: relative;
    width: 1250px;
    left: 220px;
    bottom: 70px;
    border: 3px solid wheat;
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 10px 10px;
}
.div2 form {
    position: relative;
    width: 250px;
    left: 1250px;
    bottom: 140px;
    color: white;
}
.first {
    overflow: hidden;
    /* background-color: rgb(255, 255, 255); */
}
.first a{
    float:left;
    display: block;
    color: rgb(247, 6, 6);
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    bottom: 50px;

}
.first a:hover{
    background-color: rgba(9, 9, 9, 0.6);
    color: white;
}
.first a.active{
    background-color: blueviolet;
    color: white;
}
.first input[type=text] {
    float: centre;
    width: 500px;
    height: 10px;
    padding: 16px;
    border: black;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    position: relative;
    bottom: 50px;

}
@media screen and (max-width: 100px) {
    .div1, .div2, .div3{
        float:none;
        display: block;
        text-align: left;
        width: 600px;
        margin: 0;
        padding: 14px;
    }
    .first input{
        border: 1px solid beige;
    }
}
.first form{
    font-size: large;
    float: left;
    color: red;
    position: relative;
    left: 1050px;
    bottom: 55px;
    background-color: blueviolet;
    color: white;
    padding: 10px 10px;
}
.first form:hover{
    background-color: rgba(9, 9, 9, 0.6);
    color: white;
}
footer{
    background-color: rgb(63, 163, 225);
    color:rgb(9, 9, 9);
    border-radius: 10px;
    padding: 14px 16px;
    position: relative;
    top: 34px;
    font-size: larger;
}
ul{
    font-size: larger;
    color: red;
    background-color: beige;
    padding: 14px 16px;
    position: relative;
    top: 15px;
}
.categories a{
    background-color: blueviolet;
    color: white;
}
.categories a:hover{
    background-color: rgba(9, 9, 9, 0.6);
    color: white;
}

